<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (C) 2010 Toshinobu Hondo, All rights reserved. -->
<!--
   $Id$
-->
<AcquireConfiguration name="acquire" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="acquire.config.xsd">
  <!-- <AcquireConfiguration name="acquire"> -->
  <Configuration name="monitor_tab">
    <!-- -->
    <Configuration name="log_book" type="tab" readonly="true">
      <title>Log</title>
      <Component type="widget" loader="adplugin" interface="adplugin::ui::iLog" module="qtwidgets"/>
      <datasource name="broker.logger" type="cosnaming::name" interface="Broker::Logger">adbroker.manager</datasource>
    </Configuration>
    <!-- -->
    <Configuration name="infitof_monitor" type="tab">
      <title>InfiTOF</title>
      <Component type="widget" loader="adplugin" interface="adplugin::ui::iMonitor" module="infitofui"/>
    </Configuration>
    <!-- -->
    <Configuration name="sequence_monitor" type="tab" readonly="true">
      <title>Sequence</title>
      <Component type="widget" loader="adplugin" interface="adplugin::ui::iSequencesForm" module="qtwidgets"/>
    </Configuration>
  </Configuration>
</AcquireConfiguration>
